<article class=container>
	<section class="row imageBox">
		<div class=span12>
			<!-- The large image carousel on the top -->
			<div id=homeCarousel class="carousel slide">
				<!-- Carousel items -->
				<div class=carousel-inner>
					<div class="active item">
					<%= image_tag "carousel/normal/1.jpg" %>
						<div class="carousel-caption align-right">
							<h1>Your company's IT department</h1>
							<p>Consultant fast. Internal steady.</p>
							<p>
								<%= link_to "Try us out", request_path, :class => "btn btn-success btn-large", :onclick => "_gaq.push(['_trackEvent', 'UVP', 'Success']);" %> 
								<%= link_to "More info", products_path, :class => "btn btn-default btn-large", :onclick => "_gaq.push(['_trackEvent', 'UVP', 'More info']);" %>
							</p>
						</div>
					</div>
				<!-- Carousel nav -->
			</div>
		</div>
	</section>
	<section class="row featured">
		<!-- four nice small boxes filled with important things -->
		<div class="span12">
			<header class="page-header">
				<h1>
					Why we rock
					<small>it's true!</small>
				</h1>
			</header>
		</div>
		<div class="span6">
			<i class=box></i>
			<h2>Emphasis on your product</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus.</p>
		</div>
		<div class="span6">
			<i class=gear></i>
			<h2>Valid, fast & fancy</h2>
			<p>Vivamus fermentum semper porta. Nunc diam velit, adipiscing ut tristique vitae.</p>
		</div>
		<div class="span6">
			<i class=eye></i>
			<h2>Attract attention</h2>
			<p>Suspendisse lectus leo, consectetur in tempor sit amet, placerat quis neque. </p>
		</div>
		<div class="span6">
			<i class=case></i>
			<h2>Professional Grade IT</h2>
			<p>This is what we do, all day, every day. Providing professional, reliable, and quality IT services .</p>
		</div>
	</section>
	<section class="row story">
		<div class=span12>
			<header class="page-header">
				<h1>
					How it works
					<small>it's not hard at all</small>
				</h1>
			</header>
		</div>
		<div class=span9>
			<h2>Some nice story here</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec neque quis justo aliquam blandit. Quisque interdum felis vel tortor tincidunt molestie. Sed sollicitudin vehicula eros. In hac habitasse platea dictumst. Ut lobortis sapien sit amet est malesuada suscipit.</p>
			<ul>
				<li>First point</li>
				<li>Second point</li>
				<li>Third point</li>
				<li>Fourth point</li>
			</ul>
			<p>Maecenas egestas magna at eros ultrices egestas. Donec nec erat ante, ac eleifend diam. Ut et purus sem. Aenean sit amet lorem egestas sapien hendrerit tempor.</p>
			<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra.</p>
		</div>
		<div class=span3>
			<ul class="thumbnails">
				<li class="span3">
					<%= link_to image_tag("media/normal/Image001.jpg"), "media/normal/Image001.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
				<li class="span3">
					<%= link_to image_tag("media/normal/Image002.jpg"), "media/normal/Image002.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
			</ul>
		</div>
	</section>
</article>
