<article class=container>
	<section class="row productsBox">
		<!-- this is where the Media lives, photo & video nd such -->
		<div class=span12>
			<header class="page-header">
				<h1>
					Our services
					<small>difference to suit everyone</small>
				</h1>
			</header>
			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "https://a248.e.akamai.net/camo.github.com/37f352b72d70ca77dc18a4eba406b47216fed04f/687474703a2f2f692e6973746f636b696d672e636f6d2f66696c655f7468756d62766965775f617070726f76652f31373230373932372f322f73746f636b2d70686f746f2d31373230373932372d637573746f6d65722d736572766963652e6a7067" %>
						<div class=caption>
							<h3>Help desk</h3>
							<hr>
							<ul>
								<li>Only a phone call away</li>
								<li>No confusing IT jargon</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Help!", newsletter_signup_path, :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Helpdesk']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "https://a248.e.akamai.net/camo.github.com/ee5c65de979de71d5f27f21a0319d1183c5dfd82/687474703a2f2f692e6973746f636b696d672e636f6d2f66696c655f7468756d62766965775f617070726f76652f31383535343935322f322f73746f636b2d70686f746f2d31383535343935322d69742d656e67696e656572732d696e2d6e6574776f726b2d7365727665722d726f6f6d2e6a7067" %>
						<div class=caption>
							<h3>Planning and Strategy</h3>
							<hr>
							<ul>
								<li>Make sure your IT plan matches your growth</li>
								<li>See problems before they happen</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Maintenance']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "https://a248.e.akamai.net/camo.github.com/c21dbb654b9ecaa7ba5ee2024d1884259fd2f009/687474703a2f2f692e6973746f636b696d672e636f6d2f66696c655f7468756d62766965775f617070726f76652f31383930353239312f322f73746f636b2d70686f746f2d31383930353239312d73797374656d2d6661696c2d736974756174696f6e2d696e2d6e6574776f726b2d7365727665722d726f6f6d2e6a7067" %>
						<div class=caption>
							<h3>On-site support</h3>
							<hr>
							<ul>
								<li>Fast and professional</li>
								<li>Expertise to troubleshoot complex systems</li>
								<li>Available when you need us</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Onsite']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "https://a248.e.akamai.net/camo.github.com/51a19802b3b8f3a7ea425bca6c4d0d2184b1b584/687474703a2f2f692e6973746f636b696d672e636f6d2f66696c655f7468756d62766965775f617070726f76652f31373339383935342f322f73746f636b2d70686f746f2d31373339383935342d636972637569742d676c6f62652d776974682d636f67732e6a7067" %>
						<div class=caption>
							<h3>Projects</h3>
							<hr>
							<ul>
								<li>Problem free office moves</li>
								<li>Infrastructure installation</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Projects']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="row socialStuff">
		<!-- some text & a twitter unit -->
		<div class=span12>
			<header class="page-header">
				<h1>
					What our customers say
					<small>and where to get it</small>
				</h1>
			</header>
		</div>
		<div class=span9>
			<h2>Stuff you should know</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec neque quis justo aliquam blandit. Quisque interdum felis vel tortor tincidunt molestie. Sed sollicitudin vehicula eros. In hac habitasse platea dictumst. Ut lobortis sapien sit amet est malesuada suscipit.</p>
			<p>Maecenas egestas magna at eros ultrices egestas. Donec nec erat ante, ac eleifend diam. Ut et purus sem. Aenean sit amet lorem egestas sapien hendrerit tempor.</p>
			<h2>Other things you must know</h2>
			<p>Suspendisse malesuada, ligula vitae molestie sodales, felis mauris consequat risus, in ornare quam lorem sed purus. Suspendisse at enim lectus.</p>
			<p>Suspendisse eleifend sagittis dolor sed vehicula. Nam pretium elit sem, vel volutpat leo. Donec elementum venenatis sapien, eu adipiscing neque accumsan pretium.</p>
			<h2>Good points on the product</h2>
			<ul>
				<li>endisse eleifend sagittis dolor </li>
				<li>endisse eleifend sagittis dolor enius</li>
				<li>endisse eleifend sagittis dolor </li>
				<li>endisse eleifend sagittis dolor </li>
			</ul>
		</div>
		<div class=span3>
			<ul class="thumbnails">
				<li class="span3">
					<%= link_to image_tag("media/normal/Image003.jpg"), "media/normal/Image003.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
				<li class="span3">
					<%= link_to image_tag("media/normal/Image007.jpg"), "media/normal/Image007.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
			</ul>
		</div>
	</section>
</article>
