<article class=container>
	<section class="row productsBox">
		<!-- this is where the Media lives, photo & video nd such -->
		<div class=span12>
			<header class="page-header">
				<h1>
					Our services
					<small>difference to suit everyone</small>
				</h1>
			</header>
			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/1.png" %>
						<div class=caption>
							<h3>Help desk</h3>
							<hr>
							<ul>
								<li>25 things</li>
								<li>3 hours a day</li>
								<li>free to use</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Help!", newsletter_signup_path, :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Helpdesk']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/2.png" %>
						<div class=caption>
							<h3>Maintenance</h3>
							<hr>
							<ul>
								<li>50 things</li>
								<li>always active</li>
								<li>$10 / year</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Maintenance']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/3.png" %>
						<div class=caption>
							<h3>On-site support</h3>
							<hr>
							<ul>
								<li>100 things</li>
								<li>always active</li>
								<li>$20 / year</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Onsite']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/4.png" %>
						<div class=caption>
							<h3>Projects</h3>
							<hr>
							<ul>
								<li>250 things</li>
								<li>always active</li>
								<li>$30 / year</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Projects']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="row socialStuff">
		<!-- some text & a twitter unit -->
		<div class=span12>
			<header class="page-header">
				<h1>
					What our customers say
					<small>and where to get it</small>
				</h1>
			</header>
		</div>
		<div class=span9>
			<h2>Stuff you should know</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec neque quis justo aliquam blandit. Quisque interdum felis vel tortor tincidunt molestie. Sed sollicitudin vehicula eros. In hac habitasse platea dictumst. Ut lobortis sapien sit amet est malesuada suscipit.</p>
			<p>Maecenas egestas magna at eros ultrices egestas. Donec nec erat ante, ac eleifend diam. Ut et purus sem. Aenean sit amet lorem egestas sapien hendrerit tempor.</p>
			<h2>Other things you must know</h2>
			<p>Suspendisse malesuada, ligula vitae molestie sodales, felis mauris consequat risus, in ornare quam lorem sed purus. Suspendisse at enim lectus.</p>
			<p>Suspendisse eleifend sagittis dolor sed vehicula. Nam pretium elit sem, vel volutpat leo. Donec elementum venenatis sapien, eu adipiscing neque accumsan pretium.</p>
			<h2>Good points on the product</h2>
			<ul>
				<li>endisse eleifend sagittis dolor </li>
				<li>endisse eleifend sagittis dolor enius</li>
				<li>endisse eleifend sagittis dolor </li>
				<li>endisse eleifend sagittis dolor </li>
			</ul>
		</div>
		<div class=span3>
			<ul class="thumbnails">
				<li class="span3">
					<%= link_to image_tag("media/normal/Image003.jpg"), "media/normal/Image003.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
				<li class="span3">
					<%= link_to image_tag("media/normal/Image007.jpg"), "media/normal/Image007.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
			</ul>
		</div>
	</section>
</article>
