<article class=container>
	<section class="row productsBox">
		<!-- this is where the Media lives, photo & video nd such -->
		<div class=span12>
			<header class="page-header">
				<h1>
					Our services
					<small>we have you covered</small>
				</h1>
			</header>
			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/it help desk support.png" %>
						<div class=caption>
							<h3>Help desk</h3>
							<hr>
							<ul>
								<li>Only a phone call away</li>
								<li>No confusing IT jargon</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Help!", newsletter_signup_path, :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Helpdesk']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/it planning strategy service.png" %>
						<div class=caption>
							<h3>Planning and Strategy</h3>
							<hr>
							<ul>
								<li>Make sure your IT plan matches your growth</li>
								<li>See problems before they happen</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Maintenance']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/on site it support.png" %>
						<div class=caption>
							<h3>On-site support</h3>
							<hr>
							<ul>
								<li>Fast and professional</li>
								<li>Expertise to troubleshoot complex systems</li>
								<li>Available when you need us</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Onsite']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<%= image_tag "products/large it projects.png" %>
						<div class=caption>
							<h3>Projects</h3>
							<hr>
							<ul>
								<li>Problem free office moves</li>
								<li>Infrastructure installation</li>
							</ul>
							<hr>
							<div>
								<%= link_to "Signup", '#', :class => "btn btn-success", :onclick => "_gaq.push(['_trackEvent', 'Newsletters', 'Signup', 'Projects']);" %>
								<a href="#" class="btn pull-right">Info</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="row socialStuff">
		<!-- some text & a twitter unit -->
		<div class=span12>
			<header class="page-header">
				<h1>
					What our customers say
				</h1>
			</header>
		</div>
		<div class=span9>
			<h2>Your name here</h2>
			<p>Your story here</p>
		</div>
		<div class=span3>
			<ul class="thumbnails">
				<li class="span3">
					<%= link_to image_tag("media/normal/Image003.jpg"), "media/normal/Image003.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
				<li class="span3">
					<%= link_to image_tag("media/normal/Image007.jpg"), "media/normal/Image007.jpg", :rel=> "lightbox[album1]", :class => "thumbnail" %>
				</li>
			</ul>
		</div>
	</section>
</article>
