<header class="container header">
	<div class=row>
		<!-- Zhe Logo & name -->
		<div class=span4>
			<h1>
				<%= image_tag "insourceit.png" %>
				Insource IT
			</h1>
		</div>
		<!-- Menu & Search -->
		<nav class=span8>
			<ul class="nav nav-pills pull-right">
				<li<%= %q( class="active").html_safe if current_page?(root_path) %>><%= link_to "Home", root_path %></li>
				<li<%= %q( class="active").html_safe if current_page?(products_path) %>><%= link_to "Services", products_path %></li>
				<li<%= %q( class="active").html_safe if current_page?(about_path) %>><%= link_to "About us", about_path %></li>
				<li<%= %q( class="active").html_safe if current_page?(contact_path) %>><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</div>
</header>