<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
	<head>
	  <title>Insource IT</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= javascript_include_tag "boostrap.min" %>
	  <%= javascript_include_tag "lightbox" %>
	  <%= javascript_include_tag "style" %>
	  
	  <%= csrf_meta_tags %>
	  <!-- Data about Data, so meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
	  
		<!-- Zhe fonts und styles -->
		<link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:bold" rel="stylesheet" type="text/css">
	
		<!-- Le Favicon and zhe lame apple stuffz -->
		<%= favicon_link_tag 'favicon.ico' %>
		<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-precomposed.png">
	
		<script src="js/libs/modernizr-2.5.3.min.js"></script>
	</head>
<body>
	<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>
</html>
